*.log
GGJ22-teamATE/.gradle/
GGJ22-teamATE/.idea/
GGJ22-teamATE/.vs/
GGJ22-teamATE/build/
GGJ22-teamATE/Library/
GGJ22-teamATE/obj/

# Project file excludes
*.csproj
*.csproj.user
*.DotSettings
*.DotSettings.user
*.sln
*.suo
*.userprefs
GGJ22-teamATE/Assets/Plugins/Android/*.aar
GGJ22-teamATE/Assets/Plugins/Android/*.aar.meta
GGJ22-teamATE/Assets/Plugins/Android/*.jar
GGJ22-teamATE/Assets/Plugins/Android/*.jar.meta

# CI exclusions
GGJ22-teamATE/Assets/Resources/BuildData.asset
GGJ22-teamATE/Assets/Resources/BuildData.asset.meta
GGJ22-teamATE/Assets/OutplayPluginData/
GGJ22-teamATE/Assets/OutplayPluginData.meta
GGJ22-teamATE/Builds/
GGJ22-teamATE/BuiltContent/

# Meta files for local project folders
**/Temp.meta
**/Temp/
GGJ22-teamATE/Assets/EntityCache.meta
GGJ22-teamATE/Assets/EntityCache/
GGJ22-teamATE/Assets/Plugins/Editor.meta
GGJ22-teamATE/Assets/Plugins/Editor/

GGJ22-teamATE/Assets/Resources/Editor/LocalLevelEditorSettings.json
GGJ22-teamATE/Assets/Resources/Editor/LocalLevelEditorSettings.json.meta

GGJ22-teamATE/Assets/.DS_Store

.DS_Store

GGJ22-teamATE/Assets/AppCenter/Plugins/iOS/
GGJ22-teamATE/Assets/AppCenter/Plugins/iOS.meta
GGJ22-teamATE/Assets/AppCenter/Plugins/Android/appcenter-loader-release.aar

GGJ22-teamATE/Assets/Plugins/Android/helpshift-plugin-wrapper/
GGJ22-teamATE/Assets/Plugins/Android/helpshift-plugin-wrapper.meta
GGJ22-teamATE/Assets/Plugins/Android/fban-network-security-config-wrapper/
GGJ22-teamATE/Assets/Plugins/Android/fban-network-security-config-wrapper.meta

GGJ22-teamATE/Assets/Resources/PrePackedContent/

GGJ22-teamATE/Assets/Scripts/GameFramework/GameSettings.meta

GGJ22-teamATE/Assets/Resources/GameContentManifest/
GGJ22-teamATE/Assets/Resources/GameContentManifest.meta

GGJ22-teamATE/Assets/Resources/PrePackedContent.meta
/GGJ22-teamATE/Assets/Plugins/Android/Firebase*
/GGJ22-teamATE/Assets/Plugins/Android/FirebaseApp.androidlib*

GGJ22-teamATE/Assets/GeneratedLocalRepo.meta

GGJ22-teamATE/Assets/GeneratedLocalRepo/
